i.fa-linkedin:before {
	color: #0077b5;
}

.bd-sidebar {
	top: 0rem;
}

:root {
	--pst-header-height: 45px;
}

.navbar-brand {
	padding-top: 0.5rem;
	margin-left: 1rem;
	/* padding-bottom: 0rem; */
	height: auto;
}

.navbar-brand img {
	height: 2.5rem;
	margin: 0rem;
	vertical-align: middle;
}

.navbar-toggler {
	margin-right: 1rem;
}

img,
svg {
	vertical-align: middle;
}

/* Main index page overview cards */

.intro-card {
	background: #fff;
	border-radius: 0;
	padding: 30px 10px 20px 10px;
	margin: 10px 0px;
}

.intro-card p.card-text {
	margin: 0px;
}

.intro-card .card-img-top {
	margin: 10px;
	height: 52px;
}

.intro-card .card-header {
	border: none;
	background-color: white;
	color: #150458 !important;
	font-size: var(--pst-font-size-h5);
	font-weight: bold;
	padding: 2.5rem 0rem 0.5rem 0rem;
}

.intro-card .card-footer {
	border: none;
	background-color: white;
}

.intro-card .card-footer p.card-text {
	max-width: 220px;
	margin-left: auto;
	margin-right: auto;
}

/* from pandas.css */

h1 {
	font-size: 2.4rem;
	font-weight: 700;
	color: #130654;
}
h2 {
	font-size: 1.45rem;
	font-weight: 700;
	color: #130654;
}
h3 {
	font-size: 1.3rem;
	font-weight: 600;
	color: #130654;
}
a {
	color: #130654;
}
code {
	white-space: pre;
}
ol ol,
ol ul,
ul ol,
ul ul {
	margin-bottom: 1rem;
}
.blue {
	color: #150458;
}
.pink {
	color: #e70488;
}
.fab {
	font-size: 1.2rem;
	color: #666;
}
.fab:hover {
	color: #130654;
}
div.card .card-title {
	font-weight: 500;
	color: #130654;
}
.bg-dark {
	background-color: #130654 !important;
}
.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .9);
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
}
